# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Figures.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\gorko\Documents\C#Projects\Figures\.idea\.idea.Figures\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
